.link,
.logo,
.title,
.subtitle {
  width: fit-content;
}

.home {
  /* Color del fondo */
  background-color: rgb(248, 126, 113);
}
.header {
  /* Color de la fuente */
  /* color: red; */
}

.link {
  color: white;
  background-color: chocolate;
  margin: 10px;
  padding: 10px;
}
.logo {
  color: white;
  background-color: tomato;
  margin: 10px;
  padding: 10px;
}

.title {
  /* margen solo abajo */
  background-color: blue;
  color: white;
  margin-bottom: 10px;
}
.subtitle {
  /* margen  arriba y abajo */
  background-color: greenyellow;
  /* margin-top: 5px;
  margin-bottom: 5px; */
  margin: 5px 0px 5px 0px;
}
.hire-button {
  /* margen solo arriba */
  margin-top: 10px;
  background-color: white;
  border-style: none;
  color: darksalmon;
  padding: 5px 20px;
}

.hire-button:hover {
  background-color: darksalmon;
  color: white;
  cursor: pointer;
  
}
